<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Admin</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" />
    <!-- Font Awesome CSS-->
    <link
      rel="stylesheet"
      href="vendor/font-awesome/css/font-awesome.min.css"
    />
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="css/font.css" />
    <!-- Google fonts - Muli-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Muli:300,400,700"
    />
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet" />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css" />

    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script
    ><![endif]-->
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg">
        <div class="search-panel">
          <div
            class="search-inner d-flex align-items-center justify-content-center"
          >
            <div class="close-btn">Close <i class="fa fa-close"></i></div>
            <form id="searchForm" action="#">
              <div class="form-group">
                <input
                  type="search"
                  name="search"
                  placeholder="What are you searching for..."
                />
                <button type="submit" class="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div
          class="container-fluid d-flex align-items-center justify-content-between"
        >
          <div class="navbar-header">
            <!-- Navbar Header--><a href="index.html" class="navbar-brand">
              <div class="brand-text brand-big visible text-uppercase">
                <strong class="text-primary">4WATCHES</strong
                ><strong>Admin</strong>
              </div>
              <div class="brand-text brand-sm">
                <strong class="text-primary">D</strong><strong>A</strong>
              </div>
            </a>

            <!-- Languages dropdown    -->
            <div class="list-inline-item dropdown">
              <a
                id="languages"
                rel="nofollow"
                data-target="#"
                href="#"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="nav-link language dropdown-toggle"
                ><img src="img/flags/16/GB.png" alt="English" /><span
                  class="d-none d-sm-inline-block"
                  >English</span
                ></a
              >
              <div aria-labelledby="languages" class="dropdown-menu">
                <a rel="nofollow" href="#" class="dropdown-item">
                  <img
                    src="img/flags/16/DE.png"
                    alt="English"
                    class="mr-2"
                  /><span>German</span></a
                ><a rel="nofollow" href="#" class="dropdown-item">
                  <img
                    src="img/flags/16/FR.png"
                    alt="English"
                    class="mr-2"
                  /><span>French </span></a
                >
              </div>
            </div>
            <!-- Log out               -->
            <div class="list-inline-item logout">
              <a id="logout" href="/admin/logout" class="nav-link"
                >Logout <i class="icon-logout"></i
              ></a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <div class="avatar">
            <img
              src="/images/logo.png"
              alt="..."
              class="img-fluid rounded-circle"
            />
          </div>
          <div class="title">
            <h1 class="h5">Binel</h1>
            <p>Web Designer</p>
          </div>
        </div>
        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
          <li>
            <a href="/admin/adminHome"> <i class="icon-home"></i>Dashboard</a>
          </li>
          <li>
            <a href="/admin/Product"> <i class="icon-grid"></i>Product</a>
          </li>
          <li  class="active">
            <a href="/admin/User"> <i class="fa fa-bar-chart"></i>user</a>
          </li>
          <li>
            <a href="/admin/Category"> <i class="icon-padnote"></i>Category</a>
          </li>
          <li>
            <a href="/admin/order">
              <i class="icon-paper-and-pencil"></i>Order</a
            >
          </li>
          <li>
            <a href="/admin/coupons">
              <i class="icon-three-cells"></i>Coupons</a
            >
          </li>
          <li>
            <a href="/admin/sales"> <i class="icon-info"></i>Sales Report</a>
          </li>
        </ul>
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Dashboard</h2>
          </div>
        </div>

        <div class="table-responsive" style="padding: 5%">
          <!-- Pagination section -->

          <ul class="pagination justify-content-center">
            <% if (totalPages > 1) { %> <% if (currentPage > 1) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="/admin/User?page=<%= currentPage - 1 %>"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <% } %> <% let startPage = Math.max(1, currentPage - 2); %> <% let
            endPage = Math.min(startPage + 3, totalPages); %> <% for(let i =
            startPage; i <= endPage; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="/admin/User?page=<%= i %>"><%= i %></a>
            </li>
            <% } %> <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a
                class="page-link"
                href="/admin/User?page=<%= currentPage + 1 %>"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <% } %> <% } %>
          </ul>

          <table class="table">
            <thead>
              <tr>
                <!-- <th>#</th> -->
                <th>UserName</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i=0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].fullname %></td>
                <td><%= data[i].email %></td>
                <td><%= data[i].phone %></td>
                <td>
                  <% if (data[i].status) { %>
                  <p style="color: red">Blocked</p>
                  <% } else { %>
                  <p style="color: green">UnBlocked</p>
                  <% } %>
                </td>
                <td>
                  <% if (data[i].status) { %>
                  <!-- <a href="/admin/changeStatus?id=<%= data[i]._id %>" class="btn btn-success" onclick="return confirm('Are u sure, You want to unblock the user') ">Un Block</a> -->
                  <a
                    href="/admin/changeStatus?id=<%= data[i]._id %>"
                    class="btn btn-success"
                    onclick="confirmAndRedirect('<%= data[i]._id %>',event)"
                    >UnBlock</a
                  >

                  <% } else { %>
                  <a
                    href="/admin/changeStatus?id=<%= data[i]._id %>"
                    class="btn btn-danger"
                    onclick="confirmAndRedirect('<%= data[i]._id %>',event)"
                    >Block</a
                  >

                  <!-- <a href="/admin/changeStatus?id=<%= data[i]._id %>" class="btn btn-danger"
                        onclick="return confirm('Are u sure, You want to block the user')">Block</a> -->
                  <% } %>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <footer class="footer">
        <div class="footer__block block no-margin-bottom"></div>
      </footer>
    </div>

    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      async function confirmAndRedirect(userId, event) {
        event.preventDefault(); // Prevent the default behavior

        const result = await Swal.fire({
          title: "Are you sure?",
          text: "You want to change the status of the user",
          icon: "warning",
          showCancelButton: true,
        });

        if (result.isConfirmed) {
          window.location.href = "/admin/changeStatus?id=" + userId;
        }
      }
    </script>

    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="js/charts-home.js"></script>
    <script src="js/front.js"></script>
  </body>
</html>
