<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collections</title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      /* Filter Sidebar Styles */
      .filter-sidebar {
        background-color: #f8f9fa; /* Set background color */
        padding: 20px; /* Add padding */
        border-radius: 10px; /* Add border radius */
        border: 1px solid #bca374; /* Add border */
        margin-bottom: 20px; /* Add margin bottom */
      }
    
      .filter-title {
        color: #333; /* Set title color */
        font-size: 20px; /* Set title font size */
        font-weight: bold; /* Set title font weight */
        margin-bottom: 10px; /* Add margin bottom */
      }
    
      .filter-options {
        list-style: none; /* Remove default list style */
        padding: 0; /* Remove default padding */
      }
    
      .filter-options li {
        margin-bottom: 15px; /* Add margin bottom */
      }
    
      /* Styling for dropdowns and input fields */
      select,
      input[type="range"] {
        width: 5%; /* Set width to 100% */
        padding: 10px; /* Add padding */
        border: 1px solid #bca374; /* Add border */
        border-radius: 5px; /* Add border radius */
        background-color: #fff; /* Set background color */
        color: #333; /* Set text color */
        font-size: 16px; /* Set font size */
      }
    
      /* Styling for submit button */
      .filter-submit-btn {
        background-color: #bca374; /* Set background color */
        color: #fff; /* Set text color */
        padding: 10px 20px; /* Add padding */
        border: none; /* Remove border */
        border-radius: 5px; /* Add border radius */
        cursor: pointer; /* Add cursor pointer */
        font-size: 16px; /* Set font size */
      }
    
      /* Hover effect for submit button */
      .filter-submit-btn:hover {
        background-color: #a38f5f; /* Change background color on hover */
      }
    </style>
    
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Logo -->
      <a class="navbar-brand" href="/"
        ><img src="/images/logo.png" alt="Logo"
      /></a>
      <!-- Nav Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/men">MEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/women">WOMEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kids">KIDS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collection">COLLECTION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT US</a>
          </li>
        </ul>
      </div>
      <!-- Search Bar with Link -->
      <form class="form-inline my-2 my-lg-0 search-form" action="/search" method="POST">
        <input
          class="form-control mr-sm-2 search-input"
          type="search"
          placeholder="Search"
          name="search"
          aria-label="Search"
        />
        <button class="search-icon" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
      
      <!-- Wishlist Icon with Link -->
      <a href="/wishlist" class="wishlist-icon" ><i class="fas fa-heart"></i></a>
      <!-- Add-to-Cart Icon with Link -->
      <a href="/add-to-cart" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
         <!-- Filter Toggle Icon -->
          
      <% if (fullName) { %>
        <div class="user-info">
          <a href="/profile" class="nav-link nav-linklogout"><%= fullName %></a>
          <a href="/logout" class="nav-link logout nav-linklogout">
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
        <% } else { %>
        <!-- If user is not logged in, display login/signup -->
        <a href="/login" class="nav-link login">LOGIN/SIGNUP</a>
        <% } %>
      <!-- Hamburger Menu Toggle Button -->
      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">&#9776;</span>
      </button>
    </nav>
    <body>
      <form action="/collectionfilter" method="GET">
        <label for="category">Category:</label>
        <select name="category" id="category">
          <option value="">Any Category</option> <!-- Empty option -->
          <% for (let i = 0; i < categories.length; i++) { %>
              <option value="<%= categories[i].category %>"><%= categories[i].category %></option>
          <% } %>
      </select>
        <label for="price">Price Range:</label>
        <select class="mr-2" name="price" id="price" aria-placeholder="">
          <option value="">Any Price</option> <!-- Empty option -->
          <option value="0-500">0 - 500 Rs</option>
          <option value="500-1000">500 - 1000 Rs</option>
          <option value="1000-2000">1000 - 2000 Rs</option>
          <option value="2000-4000">2000 - 4000 Rs</option>
          <option value="4000-15000">4000 - 15000</option>
            <!-- Add more options as needed -->
        </select>
        <!-- Add sorting dropdown -->
        <label for="sort">Sort By:</label>
        <select class="mr-2" name="sort" id="sort">
          <option value="">Any Sort</option>
            <option value="priceAsc">Price: Low to High</option>
            <option value="priceDesc">Price: High to Low</option>
            <option value="ratings">Average Ratings</option>
            <option value="featured">Featured</option>
            <option value="newArrivals">New Arrivals</option>
            <option value="aToZ">A-Z</option>
            <option value="zToA">Z-A</option>
        </select>
    
        <button class="filter-submit-btn" type="submit">Apply Filter</button>
      </form>
    
    <!-- Item Cards -->
    <div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-title">
              <h1>Collection</h1>
            </div>
          </div>
        </div>

        <div class="row">
          <% for(let i=0 ; i< products.length ;i++) { %>
          <div class="col-md-3 mb-3">
            <div class="card" data-stock="<%= products[i].stock %>">
              <!-- Add-to-Cart and Wishlist Icons -->
              <div class="icons-container">
                <form action="/add-to-cart/<%= products[i]._id %>" method="POST" class="add-to-cart-form" style="border-color: none;">
                  <button type="submit" class="add-to-cart icon" style="border: none;background-color: transparent;">
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </form>
                <form action="/add-to-wishlist/<%= products[i]._id %>" method="POST" class="wishlist-form" style="border-color: none;">
                  <button type="submit" class="wishlist-icon"  style="border: none;background-color: transparent;" >
                    <i class="fas fa-heart"></i>
                  </button>
                </form>
              </div>
              <!-- Wrap product card with anchor tag -->
              <a href="/product/<%= products[i]._id %>">
                <img
                  class="img-fluid"
                  src="<%= products[i].image[0].path %>"
                  alt="product image"
                />
                <div class="product-details">
                  <h5><%= products[i].product %></h5>
                  <h6><%= products[i].description %></h6>
                  <div class="price">
                    <% if (products[i].offerPrice && products[i].offerPrice <
                    products[i].price) { %>
                    <h6 class="original-price" style="color: red">
                      <s><%= products[i].price %></s>
                    </h6>
                    <h6 class="offer-price" style="color: green">
                      offer price: <%= products[i].offerPrice%>
                    </h6>
                    <% } else { %>
                    <h6><%= products[i].price %></h6>
                    <% } %>
                  </div>
                  <span class="stock-status"></span>
                </div>
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- Main Footer -->
    <footer class="main-footer">
      <div class="row">
        <div class="col-md-4">
          <div class="footer-section">
            <h5>POLICIES AND ORDER</h5>
            <ul>
              <li>Authenticity Guarantee</li>
              <li>Privacy Policy</li>
              <li>Return, Exchange & Refund Policy</li>
              <li>Terms and Conditions</li>
              <li>Warranty Information</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-section">
            <h5>HELP</h5>
            <ul>
              <li>FAQ's</li>
              <li>My Account</li>
              <li>Track my order</li>
              <li>Sitemap</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-section">
            <h5>FOLLOW US ON</h5>
            <div class="social-media-icons">
              <a href="#">INSTAGRAM</a>
              <a href="#">FACEBOOK</a>
              <a href="#">TWITTER</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Bootstrap JS and jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const productCards = document.querySelectorAll(".card"); // Select all product cards

        productCards.forEach((card) => {
          const stockStatus = card.querySelector(".stock-status"); // Find the stock status element within the card
          const addToCartButton = card.querySelector(".add-to-cart"); // Find the add-to-cart button within the card

          const stock = parseInt(card.dataset.stock); // Get the stock quantity from the data attribute
console.log(stock);
          if (stock <= 0) {
            stockStatus.textContent = "Out of Stock";
            stockStatus.style.color = "red";
            addToCartButton.disabled = true; // Disable add to cart button
            addToCartButton.style.display = "none";
          } else if (stock < 5) {
            stockStatus.textContent = `Limited Stock (${stock} left)`;
            stockStatus.style.color = "orange";
          } else {
            stockStatus.textContent = "In Stock";
            stockStatus.style.color = "green";
          }
        });
      });
    </script>
  </body>
</html>
